.card-img-top {
  width: 100%; /* Para que la imagen ocupe todo el ancho del contenedor */
  height: 200px; /* Establecer una altura fija */
  object-fit: contain; /* Mantiene la relación de aspecto y recorta la imagen si es necesario */
  margin-top: 10px;
}
.card {
  margin-top: 30px;

  border: 1px solid black;
  margin-left: 10px;
}

.btn-clase {
  margin-left: 1050px !important;
  margin-bottom: 5px;
  margin-top: 75px;
}
.card-title {
  text-align: center !important;
  float: unset !important;
  margin-bottom: 5px;
}

.btn-info,
.btn-primary,
.eliminarBtn {
  background-color: #d62828; /* Color de botón */
  border: none;
  border-radius: 5px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}
.eliminarBtn:hover{
  color: white;
  background-color: #cf0215;
}

.editar {
  font-size: 15px;
}

.btn-info {
  background-color: rgb(18, 126, 3);
  border: 1px solid rgb(187, 188, 189);
}
.btn-primary {
  background-color: rgb(5, 5, 175);
}
