body{
	background: #5a5a5a0d;
	font-family: 'Bakbak One', cursiva;
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin: 0px;
}

.contenedor{
	font-size: 15px;
	text-align: center;
	padding: 70px 0px;
}

.boton{
	font-family: 'Bakbak One', cursiva;
	color: white;
	font-size: 13px;
	background: black;
	border-radius: 12px;
	padding: 8px 80px;
}

#usuario, #contrasenia, #nombre, #apellido, #email, #categoria, #nombreClase, #horarioClase{	
	background: #5a5a5a0d;
	padding: 8px 55px;
	border: 1px solid black;
	margin: 3px;
	text-align: center;
	
}	

select{
	background: #5a5a5a0d;
	font-size: 14px;
	border: 1px solid black;
	padding: 6px 83px;
	margin: 3px;
}

 /* MENU DE NAVEGACIÓN */

.menu {
	background: black;
	display: flex;
	flex-direction: row;
	justify-content: right;
}

.menu a{
	text-decoration: none;
	color: white;
}

ul{
	display: flex;
	flex-direction: row;
	justify-content: space-around; 
	padding: 0 40px;
}

li{
	font-size: 15px;
	list-style: none;
	margin: 0 20px;
}

p{ /*El saludo*/
	font-size: 20px;
	font-weight: bold;
}

/*  FORMULARIO DE CONTACTO */

.contacto{
	border: 2px solid;
	margin: 108px auto auto auto;
	text-align: center;
	padding: 70px 0px;
	width: 500px;
}

.datos{
	width: 300px;
    height: 30px;
}

/* BUSCADOR */

h3{
	text-align: center;
}



/* SEDES */

.sedes{
	background-image: url("/static/img/gymMoron.jpg");
	background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
	color: white;
	display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
}

.sedes div{
	justify-content: center;
    display: flex;
	grid-gap: 10px;
}