body{
	background: #5a5a5a0d;
	font-family: 'Bakbak One', cursiva;
	margin: 0px;
}

.contenedor{
	height: 50vh;
	margin: 5%;
	display: flex;
	flex-direction: column ; /* los pone uno abajo del otro */
	justify-content: space-around; /*los separa*/
	align-items: center;    /* lo centra en el eje X */
}

.reserva select{
	background: #5a5a5a0d;
	font-size: 20px;
	padding: 6px 74px;
}

a{
	background: black;
	border-radius: 12px;
	color: white;
	text-decoration: none;
	
}

.boton1 a, .boton2 a{
	padding: 10px 75px;	
}

.botonReservar {
	font-size: 16px;
	font-family: 'Bakbak One', cursiva;
	background: black;
	border-radius: 12px;
	color: white;
	text-decoration: none;
	padding: 4px 60px;	
}

table{
	text-align: center;
	font-size: 20px;
	border: 1px solid black;
	width: 110%;
	padding: 15px 30px;
}

/*  MENU DE NAVEGACIÓN */
.menu {
	background: black;
	display: flex;
	flex-direction: row;
	justify-content: right;
}

.menu a{
	text-decoration: none;
	color: white;
}

ul{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	padding: 0 40px;
}

li{
	font-size: 15px;
	list-style: none;
	margin: 0px 20px;
}

p{ /*El saludo*/
	font-size: 20px;
	font-weight: bold;
}