/* Global */
body {
  font-family: "Roboto", sans-serif;
  background-color: #dfe0e2; /* Fondo claro */
  color: #444;
  line-height: 1.6;
  margin: 0;
  padding: 0;
}

/* Navbar */
.main-header {
  background-color: #071013; /* Fondo oscuro */
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}

#hamburguesa {
  color: white;
}

/* Botón de cerrar sesión */
.btn-danger {
  background-color: #d62828; /* Color de botón */
  border: none;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.btn-danger:hover {
  background-color: #75abbc; /* Color en hover */
}

/* Sidebar */
.main-sidebar {
  background-color: #071013; /* Fondo oscuro */
  box-shadow: 2px 0 10px rgba(0, 0, 0, 0.3);
}

.sidebar .nav-link {
  color: #dfe0e2; /* Texto claro */
  font-weight: 400;
  padding: 15px 20px;
  transition: background-color 0.3s;
}

.sidebar-link-active{
  background-color: rgba(255,255,255,.1)
}

/* Clases */
#clases .card-img-top {
  width: 100%; /* Para que la imagen ocupe todo el ancho del contenedor */
  height: 200px; /* Establecer una altura fija */
  object-fit: contain; /* Mantiene la relación de aspecto y recorta la imagen si es necesario */
  margin-top: 10px;
}

#clases .card {
  margin-top: 30px;
  width: 250px;
  height: 350px;
  border: 1px solid black;
}

/* Formularios */
.form-control {
  border-radius: 5px;
  border: 1px solid #a2aebb; /* Borde gris */
  padding: 10px;
  transition: border-color 0.3s;
}

.form-control:focus {
  border-color: #23b5d3; /* Color en el foco */
  box-shadow: 0 0 5px rgba(35, 181, 211, 0.5);
}

/* Media Queries para Responsividad */
@media (max-width: 768px) {
  .main-sidebar {
    width: 200px;
  }

  .main-content {
    margin-left: 200px;
  }

  .navbar-brand {
    font-size: 22px;
  }

  .nav-link {
    font-size: 14px;
  }
}
