.card {
  margin-top: 30px;
  height: 400px;
  width: 300px;
  border: 1px solid black;
}

.card-img-top {
  width: 100%;
  max-height: 200px; /* Altura máxima para que todas las imágenes se ajusten sin deformarse */
  object-fit: contain; /* Contiene la imagen dentro de los límites sin recortarla */
  padding: 10px; /* Añade un poco de espacio alrededor si es necesario */
}

.card-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  width: 100%;
  height: 100%;
}

h2 {
  font-family: "Oswald", sans-serif;
  font-size: 2.5rem;
  font-weight: 500;
  text-align: center; /* Centra el texto */
  color: #071013; /* Color del texto, puedes cambiarlo según el diseño */
  margin-bottom: 1.5rem; /* Espaciado debajo del título */
  text-transform: uppercase;
}

.card-title {
  text-transform: uppercase;
  font-size: 22px;
  color: rgb(0, 0, 0);
  font-weight: bold;
}

.card-text {
  font-size: 20px;
  color: #5a5a5a;
}