body {
}
.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 450px;
  width: 550px;
  border: 1px solid rgb(37, 35, 35);
}

.card-img-top {
  width: 100%;
  max-height: 200px; /* Altura máxima para que todas las imágenes se ajusten sin deformarse */
  object-fit: contain; /* Contiene la imagen dentro de los límites sin recortarla */
  padding: 10px; /* Añade un poco de espacio alrededor si es necesario */
  background-color: #f8f8f8; /* Fondo para las imágenes más pequeñas */
}

.card-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  width: 100%;
  height: 100%;
}
h2 {
  font-family: "Oswald", sans-serif;
  font-size: 2.5rem;
  font-weight: 500;
  text-align: center; /* Centra el texto */
  color: #071013; /* Color del texto, puedes cambiarlo según el diseño */
  margin-bottom: 1.5rem; /* Espaciado debajo del título */
  text-transform: uppercase;
}

.card-title {
  text-transform: uppercase;
  font-size: 22px;
  color: rgb(0, 0, 0);
  font-weight: bold;
}

.card-text {
  font-size: 20px;
  color: #5a5a5a;
}

.eliminar {
  background-color: rgb(255, 0, 0) !important;
  width: 150px;
  margin-left: 20px;
}

.btn-primary {
  width: 110px;
  margin-left: 20px;
}
